/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", system-ui, sans-serif;
}

body {
  background: linear-gradient(135deg, #a79708);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 50px;
  color: #333;
}

/* Contenitore */
.container {
  background: #fff;
  width: 380px;
  padding: 25px 30px;
  border-radius: 18px;
  box-shadow: 0 6px 25px rgba(0,0,0,0.12);
}
 
/* Titoli */
h1 {
  text-align: center;
  margin-bottom: 25px;
  color: #d41475;
}

h2 {
  margin-top: 25px;
  color: #d41475;
}

/* Input */
input, select {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

input:focus, select:focus {
  border-color: #ff3ba4;
  outline: none;
  box-shadow: 0 0 6px #ff8acb;
}

/* Pulsante */
button {
  width: 100%;
  padding: 12px;
  background: #ff3ba4;
  border: none;
  color: white;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 5px;
}

button:hover {
  background: #d41475;
}

/* Contatti */
#list p {
  background: #ffe1ef;
  padding: 10px 12px;
  border-radius: 8px;
  margin-top: 8px;
  border-left: 4px solid #ff3ba4;
  font-size: 0.95rem;
}

/* Bottoni modifica / elimina */
#list button {
  margin-left: 8px;
  padding: 4px 8px;
  font-size: 0.8rem;
  border-radius: 5px;
  background: #ddd;
  color: black;
}

#list button:hover {
  background: #bbb;
}
